.timer{
  display: flex;
  justify-content: space-around;
  width: 226px;
}

.field{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 15px;
}

.label{
  font-size: 13px;
 font-weight: 500;
  text-transform: uppercase;
}

.value{
  font-size: 25px;
  font-weight: 500;
}